<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="3.0">
    <servlet>
        <servlet-name>AttendanceServlet</servlet-name>
        <servlet-class>com.example.attendance.AttendanceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AttendanceServlet</servlet-name>
        <url-pattern>/AttendanceServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AttendanceListServlet</servlet-name>
        <servlet-class>com.example.attendance.AttendanceListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AttendanceListServlet</servlet-name>
        <url-pattern>/AttendanceListServlet</url-pattern>
    </servlet-mapping>
</web-app>
